#modal_close{
    background-color: transparent;
    border: unset;
    outline: unset;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.modal_head {
    background-color: #337AB7;
    display: flex;
    align-items: center;
    color:white;
}


