@*Success add alert*@
<div style="width:100%;">
    <div id="success_alert_add" class="alert alert-info d-none alert_style" role="alert" style="color: #337AB7;">
        <strong>Data Saved!</strong><span id="add_from"></span>
    </div>
</div>

@*Success delete alert*@
<div id="success_alert_del" class="alert alert-info d-none alert_style" role="alert" style="color: #337AB7;">
    <strong>Data Delete!</strong> Data <span id="delete_from"></span>
</div>

@*Success alert update*@
<div id="success_alert_update" class="alert alert-info d-none alert_style" role="alert" style="color: #337AB7;">
    <span><strong>Data Updated !</strong> Data <span id="update_from"></span> has been updated !</span>
</div>



@*Success alert update transaction*@
<div id="success_alert_upd_t" class="alert alert-info d-none alert_style" role="alert" style="color: #337AB7;">
    <strong>Data Updated !</strong><span id="update_from_t"></span>
</div>

@*Success alert approve transaction*@
<div id="success_alert_app_t" class="alert alert-info d-none alert_style" role="alert" style="color: #337AB7;">
    <strong>Data Approved !</strong><span id="app_from_t"></span>
</div>

@*Success alert close request transaction*@
<div id="success_alert_close_t" class="alert alert-info d-none alert_style" role="alert" style="color: #337AB7;">
    <strong>Data Closed !</strong><span id="close_from_t"></span>
</div>


@*Error alert is Exist*@
<div id="warning_alert_exist" class="alert alert-danger  d-none alert_style" role="alert">
    <span id="warn_exist_from"></span>
</div>

@*Warning alert reject*@
<div id="warning_alert_reject" class="alert alert-danger  d-none alert_style" role="alert">
    <strong>Data Rejected ! </strong><span id="warn_reject_txt"></span>
</div>