@*    Success BACKGROUND BLUE    *@
<div style="width:100%;">
    <div id="alert_blue" class="alert alert-info d-none alert_style" role="alert" style="color: #337AB7;">
        <span id="txt_alert_blue"></span>
    </div>
</div>


@*    Success BACKGROUND RED    *@
<div style="width:100%;">
    <div id="alert_red" class="alert alert-danger d-none alert_style" role="alert" style="color: #337AB7;">
        <span id="txt_alert_red"></span>
    </div>
</div>


