@*Success add alert*@
<div style="width:100%;">
<div id="success_alert_add" class="alert alert-info d-none alert_style" role="alert" style="color: #337AB7;">
    <span><strong>Data Saved!</strong> New <span id="add_from"></span> has been add with code <strong id="data_code_alert_add"></strong></span>
</div>
</div>

@*Success delete alert*@
<div id="success_alert_del" class="alert alert-info d-none alert_style" role="alert" style="color: #337AB7;">
    <span><strong>Data Delete!</strong> Data <span id="delete_from"></span> with code <strong id="data_code_alert_del"></strong> has been deleted !</span>
</div>

@*Success alert update*@
<div id="success_alert_update" class="alert alert-info d-none alert_style" role="alert" style="color: #337AB7;">
    <span><strong>Data Updated !</strong> Data <span  id="update_from"></span> has been updated !</span>
</div>
