<!--Modal Add Company-->

<div id="modal_add_form" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal_head">
                <div class="modal_head_text">
                    <h4 class="modal-title">Detail Pelamar</h4>
                </div>
                <!--<div>
                    <button type="button" id="modal_close" data-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>-->
            </div>
            <div class="modal-body" id="modal_content_add">
            </div>
        </div>
    </div>
</div>