<!--Modal Add Company-->

<div id="modal_form" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal_head">
                <div class="modal_head_text">
                    <h4 class="modal-title modal_title_form">Detail Pelamar</h4>
                </div>
                <!--<div>
                    <button type="button" id="modal_close" data-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>-->
            </div>
            <div class="modal-body" id="modal_content_body">
            </div>
        </div>
    </div>
</div>


<!--Modal Confirmation-->
@*<div id="modal_confirmation" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal_title_confirm">Modal title</h5>
                <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-light">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal_body_confirm">

            </div>
        </div>
    </div>
</div>*@